name: Deploy website

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/deploy.yml
      - website/*
      - source/*
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.6
      - run: deno run --allow-all ./source/make_website.mts
        env:
          SHEET_ID: ${{ secrets.SHEET_ID }}
          CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: website
      - uses: actions/deploy-pages@v4
